<hlm-sheet side="left">
  <button id="edit-profile" brnSheetTrigger>
    <ng-icon hlm size="lg" name="lucideMenu" />
  </button>
  <hlm-sheet-content *brnSheetContent="let ctx" class="w-64">
    <span class="ml-2">
      <button (click)="closeSheet()">
        <ng-icon hlm size="lg" name="lucideMenu" />
      </button>
    </span>
    <!-- <hlm-sheet-header class="ml-2"> </hlm-sheet-header> -->
    <div class="py-4 grid">
      <button hlmBtn variant="ghost" class="flex justify-start" (click)="closeSheet()">
        <ng-icon hlm size="sm" class="mr-2" name="lucideChartBar" />
        <div class="ml-4">
          {{ 'header.menu-sheet.item-1' | translate }}
        </div>
      </button>

      <button hlmBtn variant="ghost" class="flex justify-start" (click)="closeSheet()">
        <ng-icon hlm size="sm" class="mr-2" name="lucideMail" />
        <div class="ml-4">
          {{ 'header.menu-sheet.item-2' | translate }}
        </div>
      </button>

      <button hlmBtn variant="ghost" class="flex justify-start" (click)="closeSheet()">
        <ng-icon hlm size="sm" class="mr-2" name="lucideMail" />
        <div class="ml-4">
          {{ 'header.menu-sheet.item-3' | translate }}
        </div>
      </button>
    </div>
    <hlm-sheet-footer> </hlm-sheet-footer>
  </hlm-sheet-content>
</hlm-sheet>
