<hlm-sheet side="right">
  <button id="edit-profile" brnSheetTrigger>
    <hlm-avatar variant="medium" brnSheetTrigger>
      <img src="/assets/avatar.png" alt="spartan logo. Resembling a spartanic shield" hlmAvatarImage />
      <span class="bg-[#878787] text-white" hlmAvatarFallback>RS</span>
    </hlm-avatar>
  </button>
  <hlm-sheet-content *brnSheetContent="let ctx">
    <hlm-sheet-header>
      <brn-popover>
        <button brnPopoverTrigger class="w-10">
          <h3 hlmSheetTitle>{{ 'header.profile-sheet.title' | translate }}</h3>
        </button>
        <div hlmPopoverContent *brnPopoverContent="let ctx" class="flex flex-col items-start w-36 gap-2">
          <span class="flex items-center">
            <ng-icon hlm size="sm" class="mr-2" name="lucideLinkedin" />
            <button (click)="redirectTo(socialMedia.linkedIn)" id="edit-profile" variant="ghost">LinkedIn</button>
          </span>

          <brn-separator hlmSeparator />

          <span class="flex items-center">
            <ng-icon hlm size="sm" class="mr-2" name="lucideInstagram" />
            <button (click)="redirectTo(socialMedia.instagram)" id="edit-profile" variant="ghost">Instagram</button>
          </span>
        </div>
      </brn-popover>
      <p hlmSheetDescription>{{ 'header.profile-sheet.subtitle' | translate }}</p>
    </hlm-sheet-header>
    <hlm-sheet-footer>
      <!-- <button hlmBtn type="submit">Save Changes</button> -->
    </hlm-sheet-footer>
  </hlm-sheet-content>
</hlm-sheet>
