<div class="header flex items-center p-3 bg-gray-100 border-b-2">
  <div class="sheet flex justify-start w-1/2 h-full ml-10">
    <div class="font-bold">{{ 'header.title' | translate }}</div>
  </div>
  <div class="sheet flex justify-end w-1/2 h-full mr-10">
    <form [formGroup]="form" class="mr-4">
      <brn-select
        class="inline-block"
        formControlName="Language"
        (valueChange)="onLanguageChange($event)"
        placeholder="{{ 'header.select-language' | translate }}"
      >
        <hlm-select-trigger class="w-56">
          <hlm-select-value
            >">
            <div class="flex items-center gap-x-2" *brnSelectValue="let value">
              {{ value.label }}
            </div>
          </hlm-select-value>
        </hlm-select-trigger>
        <hlm-select-content>
          @for (option of options; track option) {
            <hlm-option [value]="option">
              {{ option.label }}
            </hlm-option>
          }
        </hlm-select-content>
      </brn-select>
    </form>
    <app-profile-sheet></app-profile-sheet>
  </div>
</div>
