<div class="header flex h-16 w-full bg-gray-100 border-b-2">
  <div class="sheet flex-1 min-w-[120px] max-w-1/2 flex justify-start items-center pl-4">
    <div class="pt-2">
      <app-menu-sheet></app-menu-sheet>
    </div>
    <div class="hidden sm:flex font-bold pl-6">
      <a [routerLink]="'/'" class="hover:cursor-pointer">
        {{ 'header.title' | translate }}
      </a>
    </div>
  </div>
  <div class="sheet flex-1 min-w-[240px] max-w-1/2 flex justify-end items-center pr-4">
    <form [formGroup]="form" class="flex w-full max-w-60 mr-4">
      <brn-select
        class="inline-block"
        formControlName="Language"
        (valueChange)="onLanguageChange($event)"
        placeholder="{{ 'header.select-language' | translate }}"
      >
        <hlm-select-trigger class="w-56">
          <hlm-select-value
            >">
            <div class="flex items-center gap-x-2" *brnSelectValue="let value">
              {{ value.label }}
            </div>
          </hlm-select-value>
        </hlm-select-trigger>
        <hlm-select-content>
          @for (option of options; track option) {
            <hlm-option [value]="option">
              {{ option.label }}
            </hlm-option>
          }
        </hlm-select-content>
      </brn-select>
    </form>
    <span class="">
      <app-profile-sheet></app-profile-sheet>
    </span>
  </div>
</div>
