<div class="flex flex-row">
    <div class=" flex justify-end items-center w-3/6 h-screen">
        <div class="w-fit max-w-fit">
            <div class="uppercase font-extrabold text-9xl -rotate-180 lastname">
                <a routerLink="/home" class="hover:text-gray-400 cursor-pointer">
                    salas
                </a>
            </div>
        </div>
    </div>

    <div class="flex items-center w-3/6 h-screen">
        <div class="flex items-center">
            <div class="h-full flex flex-col uppercase font-extrabold text-6xl gap-8">
                <ul class="gap-4">
                    <li class="hover:text-gray-400 uppercase mb-5"><a routerLink="/home">Blog</a></li>
                    <li class="hover:text-gray-400 uppercase mb-5"><a routerLink="">About</a></li>
                    <li class="hover:text-gray-400 uppercase mb-5"><a href="{{url.github}}">Github</a></li>
                    <li class="hover:text-gray-400 uppercase mb-5"><a href="{{url.linkedin}}">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
